<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Satisfy&display=swap" rel="stylesheet">

    <!-- Font Awesome Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <style>
        body {
            background-image: url("https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
            font-family: 'Roboto', sans-serif;
        }

        .bigContainer {
            background-color: white;
            /* border: 1px solid #555d8e; */
            box-shadow:
                -1px -1px 0 #474d73,
                1px -1px 0 #474d73,
                -1px 1px 0 #474d73,
                1px 1px 0 #474d73;
        }

        .headerMagic {
            font-family: 'Satisfy', cursive;
            font-size: 4rem;
            border-bottom: 1px solid #474d73;
            
        }
        
        .fancy{
            font-family: 'Satisfy', cursive; 
            font-size: 1.4rem;
        }

		.image{
			width: 25rem;
		}

		

    </style>
<head>
	<meta charset="UTF-8">
		<title>Wizards</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
